.file-recovery-list-item-container {
  overflow: auto;
  flex: 1 1 0;
}
.file-recovery-list {
  overflow: auto;
  padding: var(--size-4-3) var(--size-4-2);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.file-recovery-list .search-input-container {
  width: 100%;
}
.file-recovery-list-container {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  flex-shrink: 0;
  border-inline-end: 1px solid var(--background-modifier-border);
}
.file-recovery-list-item-header {
  display: flex;
  padding: var(--size-4-2);
  border-radius: var(--radius-s);
  transition:
    background-color 200ms ease-in-out,
    color 200ms ease-in-out;
}
.file-recovery-list-item-header:not(:last-child) {
  margin-bottom: var(--size-4-2);
}
.file-recovery-list-item-header.is-active,
.file-recovery-list-item-header.is-active:hover {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
}
.file-recovery-list-item-header.is-active .u-muted,
.file-recovery-list-item-header.is-active:hover .u-muted {
  color: var(--text-on-accent);
  opacity: 0.8;
}
@media (hover: hover) {
  .file-recovery-list-item-header:hover {
    background-color: var(--background-modifier-hover);
  }
}
.file-recovery-list-item-header .file-recovery-list-item-details {
  flex-grow: 1;
  cursor: var(--cursor);
  font-size: var(--font-ui-small);
}
.file-recovery-list-item-header .collapse-indicator {
  min-width: var(--size-4-6);
  padding-inline-start: var(--size-4-2);
  opacity: 1;
}
.file-recovery-text {
  font-size: var(--code-size);
  font-family: var(--font-monospace);
  tab-size: 4;
  resize: none;
  flex: 1 0 0;
  padding: var(--size-4-6);
  font-size: var(--font-ui-medium);
  background-color: var(--background-primary);
}
.file-recovery-text[data-ext="md"] {
  font-family: var(--font-text);
  font-size: var(--font-text-size);
}
