.search-input-container {
  position: relative;
}
.search-input-container:before {
  top: calc((var(--input-height) - var(--search-icon-size)) / 2);
  inset-inline-start: var(--size-4-2);
  position: absolute;
  content: "";
  height: var(--search-icon-size);
  width: var(--search-icon-size);
  display: block;
  background-color: var(--search-icon-color);
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27 fill=%27none%27 stroke=%27currentColor%27 stroke-width=%272%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27><circle cx=%2711%27 cy=%2711%27 r=%278%27></circle><line x1=%2721%27 y1=%2721%27 x2=%2716.65%27 y2=%2716.65%27></line></svg>");
  -webkit-mask-repeat: no-repeat;
}
.search-input-container input {
  display: block;
  width: 100%;
  padding-inline-start: 36px;
}
.search-input-clear-button {
  position: absolute;
  background: transparent;
  border-radius: 50%;
  color: var(--search-clear-button-color);
  cursor: var(--cursor);
  top: 0px;
  inset-inline-end: 2px;
  bottom: 0px;
  line-height: 0;
  height: var(--input-height);
  width: 28px;
  margin: auto;
  padding: 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--anim-duration-fast) ease-in-out;
}
.search-input-clear-button:after {
  content: "";
  height: var(--search-clear-button-size);
  width: var(--search-clear-button-size);
  display: block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg viewBox=%270 0 12 12%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12ZM3.8705 3.09766L6.00003 5.22718L8.12955 3.09766L8.9024 3.8705L6.77287 6.00003L8.9024 8.12955L8.12955 8.9024L6.00003 6.77287L3.8705 8.9024L3.09766 8.12955L5.22718 6.00003L3.09766 3.8705L3.8705 3.09766Z%27 fill=%27currentColor%27/></svg>");
  -webkit-mask-repeat: no-repeat;
}
.search-input-clear-button:hover,
.search-input-clear-button:active {
  color: var(--text-normal);
  transition: color var(--anim-duration-fast) ease-in-out;
}
.search-input-suggest-button {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--text-faint);
  cursor: var(--cursor);
  padding: var(--size-4-1) var(--size-4-2);
  opacity: 0;
  z-index: 10;
}
@media (hover: hover) {
  .search-input-suggest-button:hover {
    color: var(--text-muted);
  }
}
.search-result-container {
  padding: var(--size-4-3) var(--size-4-3) var(--size-4-4);
  position: relative;
  flex: 1 0 0;
}
.search-result-container.mod-global-search {
  overflow-y: auto;
  padding-bottom: max(var(--safe-area-inset-bottom), var(--size-4-3));
}
.search-result-container:before {
  content: " ";
  position: absolute;
  top: 0;
  width: 0;
  height: 3px;
}
.search-result-container.is-loading:before {
  background-color: var(--interactive-accent);
  animation: 1000ms ease-in-out 300ms infinite progress-bar;
}
.search-suggest-info-text {
  color: var(--text-muted);
  margin-inline-start: 4px;
}
.search-suggest-icon {
  padding: 4px;
  border-radius: var(--radius-s);
}
@media (hover: hover) {
  .search-suggest-icon:hover {
    background-color: var(--background-modifier-hover);
  }
}
.suggestion-container.mod-search-suggestion {
  max-width: unset;
  background-color: var(--background-secondary);
  border-color: var(--prompt-border-color);
  max-height: 600px;
}
.suggestion-container.mod-search-suggestion .suggestion {
  padding: var(--size-2-3);
  background-color: var(--background-secondary);
  border-radius: var(--radius-m);
}
.search-suggest-icon {
  align-items: center;
  display: flex;
}
.search-suggest-item {
  padding: var(--size-4-1) var(--size-4-2);
  border-radius: var(--radius-s);
}
.search-suggest-item.suggestion-item {
  font-size: var(--font-ui-small);
}
.search-suggest-item.mod-group {
  align-items: center;
  margin: 0;
  color: var(--text-muted);
  padding: 0 0 0 var(--size-4-2);
  cursor: default;
  font-weight: var(--font-semibold);
  font-size: var(--font-ui-smaller);
  border-radius: 0;
}
.search-suggest-item.mod-group:not(:first-child) {
  border-top: var(--border-width) solid var(--background-modifier-border);
  margin-top: 6px;
  padding-top: 6px;
  padding-inline-end: 6px;
  padding-bottom: 0px;
  padding-inline-start: 14px;
  margin-inline-end: -6px;
}
.search-suggest-item.mod-group:hover,
.search-suggest-item.mod-group.is-selected {
  background-color: initial;
}
@keyframes progress-bar {
  0% {
    width: 0;
    left: 0;
  }
  5% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    right: 0;
  }
  95% {
    width: 0;
    right: 0;
  }
  100% {
    width: 0;
    right: 0;
  }
}
.search-empty-state {
  color: var(--text-faint);
  font-size: var(--font-ui-small);
  margin: 0 0 var(--size-4-3);
  padding-inline-start: var(--size-4-2);
}
.search-result {
  word-break: break-word;
}
.search-result:not(.is-collapsed) .search-result-file-title {
  color: var(--nav-item-color-active);
}
.search-result-file-matches {
  font-size: var(--font-ui-smaller);
  line-height: var(--line-height-tight);
  background-color: var(--search-result-background);
  border-radius: var(--radius-s);
  overflow: hidden;
  margin: var(--size-4-1) 0 var(--size-4-2);
  color: var(--text-muted);
  box-shadow: 0 0 0 var(--border-width) var(--background-modifier-border);
}
.search-result-file-matches:empty {
  display: none;
}
.search-info-more-matches {
  color: var(--text-faint);
}
.search-result-file-match {
  cursor: var(--cursor);
  position: relative;
  padding: var(--size-4-2) var(--size-4-5) var(--size-4-2) var(--size-4-3);
  white-space: pre-wrap;
  width: 100%;
  border-bottom: var(--border-width) solid var(--background-modifier-border);
}
.search-result-file-match:last-child {
  border-bottom: none;
}
@media (hover: hover) {
  .search-result-file-match:hover {
    color: var(--text-normal);
    background-color: var(--text-selection);
  }
  .search-result-file-match:hover .search-result-file-match-replace-button {
    display: block;
  }
}
.search-result-file-match.mobile-tap {
  color: var(--text-normal);
  background-color: var(--text-selection);
}
.search-result-file-match-replace-button {
  display: none;
  position: absolute;
  height: auto;
  bottom: 5px;
  inset-inline-end: 24px;
  padding: var(--size-4-1) var(--size-4-2);
  color: var(--text-muted);
  font-size: var(--font-ui-smaller);
}
@media (hover: hover) {
  .search-result-file-match-replace-button:hover {
    color: var(--text-normal);
  }
}
.search-result-hover-button {
  position: absolute;
  display: flex;
  inset-inline-end: 2px;
  border-radius: var(--radius-s);
  color: var(--text-faint);
  padding: 1px 3px;
}
@media (hover: hover) {
  .search-result-hover-button:hover {
    opacity: 1;
    background-color: var(--background-modifier-hover);
  }
}
.search-result-hover-button.mod-top {
  top: 2px;
}
.search-result-hover-button.mod-bottom {
  bottom: 2px;
}
.search-result-file-matched-text {
  color: var(--text-normal);
  background-color: var(--text-highlight-bg);
}
.search-info-container {
  color: var(--text-muted);
  padding: var(--size-4-1) var(--size-4-4) var(--size-4-2);
  font-size: var(--font-ui-smaller);
}
.search-info-container:empty {
  display: none;
}
.search-info-children {
  padding-inline-start: 20px;
  border-inline-start: var(--border-width) solid var(--background-modifier-border);
  margin: 1px 0;
}
.copy-search-result-container {
  display: flex;
  flex-direction: column;
}
.copy-search-result-textarea {
  height: 300px;
  max-height: 20vh;
  resize: none;
}
.copy-search-result-textarea + .setting-item {
  border-top: none;
}
.search-result-file-match-destination-file-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--size-2-3);
  gap: var(--size-2-1);
}
.search-result-file-match-destination-file {
  display: inline-flex;
  background-color: var(--interactive-normal);
  border-radius: var(--radius-s);
  box-shadow: var(--input-shadow);
  color: var(--text-muted);
  padding: var(--size-2-2) var(--size-2-3);
}
@media (hover: hover) {
  .search-result-file-match:hover .search-result-file-match-destination-file {
    background-color: var(--background-secondary);
  }
  .search-result-file-match:hover .search-result-file-match-destination-file:hover {
    background-color: var(--interactive-hover);
    box-shadow: var(--input-shadow-hover);
    color: var(--text-normal);
  }
}
.search-result-file-match-destination-file-icon {
  --icon-size: var(--icon-xs);
  --icon-stroke: var(--icon-xs-stroke-width);
  margin-inline-end: var(--size-4-1);
  display: flex;
  color: var(--text-faint);
}
.search-result-file-match-destination-file-icon .svg-icon {
  align-self: center;
}
.search-result-file-match-destination-file-name {
  white-space: pre-wrap;
  word-break: break-all;
}
body:not(.is-phone) .workspace-leaf.mod-active .search-result.has-focus .tree-item-self,
body:not(.is-phone) .workspace-leaf.mod-active .search-result-file-match.has-focus {
  border-radius: var(--radius-s);
  box-shadow: inset 0 0 0 var(--input-border-width-focus) var(--background-modifier-border-focus);
}
.search-results-info {
  color: var(--text-muted);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-width) solid var(--background-modifier-border);
  margin: 0;
  min-width: 0;
  padding: 0 var(--size-4-3) var(--size-4-2);
  white-space: nowrap;
}
.search-results-info .dropdown {
  height: 24px;
  box-shadow: none;
  background-color: transparent;
  font-size: var(--font-ui-smaller);
  color: var(--text-muted);
  text-align-last: end;
  max-width: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (hover: hover) {
  .search-results-info .dropdown:hover {
    color: var(--interactive-accent);
  }
}
.search-results-info .dropdown option {
  color: initial;
  text-align: start;
}
.search-results-result-count {
  font-size: var(--font-ui-smaller);
  font-variant-numeric: tabular-nums;
}
.search-row {
  display: flex;
  margin: var(--size-4-3) var(--size-4-3) var(--size-4-2);
  gap: var(--size-4-1);
  align-items: center;
}
.search-params {
  margin: var(--size-4-1) var(--size-4-4);
  gap: var(--size-4-2);
  display: flex;
  flex-direction: column;
}
.search-params input[type="text"],
.search-params input[type="range"] {
  width: 100%;
  font-size: var(--font-ui-small);
}
.search-params .mod-cta {
  margin-top: var(--size-2-3);
  width: 100%;
}
.search-params .setting-item {
  padding: 0;
  border: none;
  background-color: transparent;
}
.search-params .setting-item .setting-item-info {
  display: flex;
  align-items: center;
}
.search-params .setting-item:first-of-type {
  border-top: none;
}
.search-params .setting-item.mod-slider {
  flex-direction: column;
}
.search-params .setting-item.mod-slider > * {
  width: 100%;
}
.search-params .setting-item.mod-slider .setting-item-info {
  margin-inline-end: 0;
}
.search-params .setting-item.mod-slider .setting-item-control {
  padding-top: var(--size-4-3);
}
.search-params .setting-item.mod-toggle .setting-item-control {
  padding-top: 0;
}
.search-params .setting-item.mod-search-setting .setting-item-info {
  margin-inline-end: 0;
}
.search-params .setting-item-name {
  font-size: var(--font-ui-small);
}
.search-params::-webkit-scrollbar,
.search-params::-webkit-scrollbar-thumb {
  display: none;
}
.global-search-input-container {
  flex-grow: 1;
}
.more-options-icon {
  --icon-size: 10px;
  background-color: var(--icon-color);
  border-radius: 50%;
  color: var(--background-secondary);
  display: flex;
  margin-inline-start: var(--size-2-3);
  opacity: var(--icon-opacity);
  padding: 0.5px;
}
.clickable-icon:hover .more-options-icon {
  background-color: var(--icon-color-hover);
  opacity: var(--icon-opacity-hover);
}
.is-mobile .search-params {
  background: var(--background-secondary);
  border-radius: var(--touch-size-xxs);
  margin: var(--size-4-1) var(--size-4-3) var(--size-4-2);
  padding: var(--size-4-4) var(--size-4-4) var(--size-4-3);
}
.is-mobile .search-row > .clickable-icon {
  width: var(--touch-size-s);
  height: var(--touch-size-s);
}
.slides-container {
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  height: 100vh;
  width: 100vw;
  transition: -webkit-transform 0.8s ease 0s;
  background-color: #191919;
  z-index: var(--layer-slides);
  border: none;
}
.slides-container li .collapse-indicator {
  display: none;
}
.slides-container .controls button {
  box-shadow: none;
}
.slides-close-btn {
  display: inline-block;
  position: absolute;
  top: calc(var(--safe-area-inset-top) + var(--size-4-2));
  inset-inline-end: var(--size-4-2);
  color: var(--text-faint);
  cursor: var(--cursor);
  z-index: 1;
}
@media (hover: hover) {
  .slides-close-btn:hover {
    color: var(--text-muted);
  }
}
.reveal input[type="checkbox"] {
  width: 24px;
  height: 24px;
}
.reveal .task-list-item,
.reveal .footnote-item {
  list-style: none;
}
.reveal .task-list-item {
  margin-inline-start: -1.5em;
}
.is-phone .slides-close-btn {
  --icon-size: var(--icon-l);
  inset-inline-end: var(--size-4-4);
}
.mod-sync-history .modal-content {
  height: 100%;
}
