/*

OS-dependent rules to make space for traffic lights buttons, 
window buttons and sidebar toggles.

---

Scenarios to account for: 

Window frame styles
- Hidden
- Custom
- Native
- Full screen

Sidebar states
- Left sidebar open
- Left sidebar closed
- Right sidebar open
- Right sidebar closed
- Pop-out (no sidebars)

Ribbon states

- Ribbon visible
- Ribbon hidden

*/
body {
  --zoom-factor: 1;
  --titlebar-height: 30px;
}
.mod-macos {
  --frame-left-space: calc(80px - var(--ribbon-width));
  --frame-right-space: 0px;
}
.mod-macos.is-popout-window {
  --frame-left-space: 80px;
}
.mod-windows,
.mod-linux {
  --frame-left-space: 0px;
  --frame-right-space: 126px;
}
body.is-frameless.in-progress,
body.is-frameless:not(.is-hidden-frameless, .is-fullscreen) {
  padding-top: calc(var(--titlebar-height) / var(--zoom-factor));
}
body.is-frameless.in-progress .titlebar,
body.is-frameless:not(.is-hidden-frameless, .is-fullscreen) .titlebar {
  height: var(--titlebar-height);
  zoom: calc(1 / var(--zoom-factor));
}
body.is-frameless.in-progress:not(.is-maximized) .titlebar,
body.is-frameless:not(.is-hidden-frameless, .is-fullscreen):not(.is-maximized) .titlebar {
  padding-top: 2px;
}
body.is-frameless.is-hidden-frameless .titlebar {
  height: calc(var(--header-height) - 1px);
}
body.is-frameless.is-hidden-frameless.starter .titlebar {
  height: var(--titlebar-height);
}
.is-fullscreen .titlebar {
  display: none;
}
.sidebar-toggle-button,
.workspace-tabs.mod-top {
  --tab-container-background: var(--titlebar-background);
}
body.is-focused .titlebar,
body.is-focused .workspace-ribbon.mod-left {
  --titlebar-background: var(--titlebar-background-focused);
}
body.is-focused .sidebar-toggle-button,
body.is-focused .workspace-tabs.mod-top {
  --tab-container-background: var(--titlebar-background-focused);
}
.is-hidden-frameless {
  --divider-vertical-height: 100%;
}
.workspace-ribbon .sidebar-toggle-button {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--ribbon-width);
  justify-content: center;
}
.titlebar-button.mod-logo {
  width: var(--ribbon-width);
  justify-content: center;
}
.is-hidden-frameless:not(.starter) .titlebar {
  -webkit-app-region: no-drag;
}
.is-hidden-frameless .titlebar-button.mod-logo {
  display: none;
}
body.is-frameless.in-progress {
  --titlebar-background: var(--background-primary);
  --titlebar-background-focused: var(--background-primary);
}
body.is-frameless.in-progress .titlebar {
  display: block;
  -webkit-app-region: drag;
  z-index: 10001;
}
.is-hidden-frameless:not(.is-fullscreen)
  .workspace-tabs.mod-top-left-space
  .workspace-tab-header-container {
  padding-left: calc(var(--size-4-2) + var(--frame-left-space));
}
.is-hidden-frameless:not(.is-fullscreen)
  .workspace-tabs.mod-top-right-space
  .workspace-tab-header-container {
  padding-right: calc(var(--size-4-2) + var(--frame-right-space));
}
.is-hidden-frameless:not(.is-fullscreen):not(.mod-macos)
  .workspace-tabs.mod-top-left-space
  .workspace-tab-header-container:before {
  -webkit-app-region: no-drag;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: var(--frame-left-space);
}
.is-hidden-frameless:not(.is-fullscreen):not(.mod-macos)
  .workspace-tabs.mod-top-right-space
  .workspace-tab-header-container:after {
  -webkit-app-region: no-drag;
  content: "";
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  width: var(--frame-right-space);
}
.is-hidden-frameless:not(.is-fullscreen) .titlebar-button-container.mod-right {
  background-color: var(--titlebar-background);
}
.is-hidden-frameless:not(.is-fullscreen).is-focused .titlebar-button-container.mod-right {
  background-color: var(--titlebar-background-focused);
}
.titlebar-button.mod-logo:hover .logo-wireframe,
.titlebar-button.mod-logo:not(:hover) .logo-full {
  display: none;
}
body.is-frameless > .app-container ~ * {
  -webkit-app-region: no-drag;
}
body.is-frameless .modal-container,
body.is-frameless .suggestion-bg {
  -webkit-app-region: initial;
}
body.is-frameless .modal {
  -webkit-app-region: no-drag;
}
.loader-spinner {
  --icon-size: var(--icon-xl);
  --icon-stroke: var(--icon-l-stroke-width);
  width: var(--size-4-8);
  height: var(--size-4-8);
  margin: 100px auto;
  color: var(--interactive-accent);
}
.loader-spinner svg {
  animation: spin 1s ease infinite;
}
.loader-cube {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}
.loader-cube .sk-cube {
  width: 33%;
  height: 33%;
  background-color: var(--interactive-accent);
  float: left;
  float: inline-start;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.loader-cube .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loader-cube .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loader-cube .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.loader-cube .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loader-cube .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loader-cube .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loader-cube .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.loader-cube .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loader-cube .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
.is-loading {
  position: relative;
}
.is-loading:before {
  content: " ";
  position: absolute;
  top: 0;
  width: 0;
  height: 3px;
  background-color: var(--interactive-accent);
  animation: 1000ms ease-in-out 300ms infinite progress-bar;
}
.pane-empty {
  color: var(--text-faint);
  font-size: var(--font-ui-small);
  margin: var(--size-4-2) auto;
  padding: var(--size-4-6) var(--size-4-4);
  text-align: center;
}
.pane-empty .pane-empty-actions {
  margin-top: var(--size-4-4);
}
